    </main>
    <footer>
        <p>© <%= new Date().getFullYear() %> Collaborative Story App - Aaron Topping</p>
    </footer>
    <!-- Socket.IO client library -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Your custom client-side JavaScript -->
    <script src="/js/main.js"></script>
</body>
</html>